body {
  background-color: #ECECEA;
  font-size: 15px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

#masterRoot {
  display: flex;
  flex-direction: column;
}

#mainRoot {
  display: flex;
  flex-direction: row;
}

.mainDiv {
  width: 100vw;
  background-color: lightgray;
}

.AllBooksDiv {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bookDiv {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.logDiv {
  width: 50vw;
  padding: 10px;
}

.logDiv h1 {
  text-align: center;
}

#homeDiv {
  width: 75vw;
  padding: 10px;
}

.allBooksSeg:hover {
  background-color: rgb(240, 240, 240);
}

.deleteIcon:hover {
  color: red;
}

.ui.plus.circle {
  color: #D9853B;
}

.ui.header {
  font-style: "Bebas Neue";
}
