body {
  background-color: #D5D5D5;
  font-family: 'vesper libre', serif;
  font-size: 1.1em;
  margin: 15px;
}

.allBooksSeg:hover {
  background-color: rgb(240, 240, 240);
}

.deleteIcon:hover {
  color: red;
}

#title-bar {
  padding: 0;
  background-color: #6D7993;
  font-size: 1em;
  border: 0;
}

#all-books-segment {
  display: flex;
  flex-wrap: wrap;
}

#title-bar-header {
  color: #ffffff;
  font-family: 'pacifico';
  font-size: 3.5em;
  letter-spacing: 2px;
}

#title-bar--navLinks {
  font-size: 1.2em;
  color: white;
}

.ui.medium.image {
  width: 100%;
  height: 220px;
  padding: 2px;
}

.ui.pointing.menu {
  background-color: #96858F;
  font-size: 1em;
}

.ui.header>.icon {
  font-size: 1.4em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #96858F;
}

.ui.pointing.menu a {
  color: #ffffff;
}

.ui.search {
  font-size: 1.5em;
}

.ui.card {
  background-color: #96858F;
}

.ui.card a {
  color: black;
}

.ui.card a.avatarlink {
  padding: 12px!important;
}

.ui.card a.avatarlink img {
  padding-bottom: 8px!important;
}

.ui.segment {
  background-color: #adb3b9;
  font-size: 1.2em;
  min-height: 70vh;
}

#fun-fact-descriptions {
  font-size: 1.6em;
}

.ui.form .field>label {
  font-size: 1.2em!important;
}

.ui.form .inline.fields>label {
  font-size: 1.2em!important;
}

.ui.form .inline.fields .field {
  margin: 0;
  padding: 0!important;
}

#home-header {
  font-size: 2em;
  padding-bottom: 10px;
  margin: 3px;
  font-family: 'scope one';
}

#home-button {
  font-size: 16px;
}

#all-books-card-image {
  max-width: 150px;
}

#all-books-card {
  max-width: 150px;
  max-height: 220px;
  background-color: white;
  margin: 5px;
}

#add-new-book-card {
  max-width: 150px;
  max-height: 220px;
  min-height: 220px;
  background-color: white;
  margin: 5px;
}

.ui.search.dropdown>input.search {
  background-color: white!important;
  top: -13px!important;
  height: 2em;
}

#add-new-book-plus {
  padding-top: 4em;
}

.ui.search.dropdown>.text {
  left: 8px!important;
}

#inner-segment {
  margin-top: 20px;
  background-color: #c9cdd0!important;
}

#inner-container {
  display: flex;
  flex-wrap: wrap;
}

#navbar #menu-item {
  height: 100%;
}

#single-book-img {
  max-width: 250px;
}

#single-book-author {
  font-size: 1.2em;
}

#single-book-title {
  font-size: 2em;
  font-weight: bold;
  margin-left: 0;
}

#single-book-description {
  width: 100%;
}

@media (max-width: 1200px) {
  #single-book-img {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 767px) {
  #single-book-img {
    width: 220px!important;
  }

  #sorted-book-img {
    min-width: 220px;
  }

  #single-book-title {
    font-size: 1.5em;
    margin-left: 12px!important;
  }

  #single-book-author {
    font-size: 1.2em;
    margin-left: 12px!important;
  }

  #single-book-description {
    font-size: 0.8em;
    margin-left: 12px!important;
  }

  #fun-fact-descriptions {
    font-size: 1.2em;
  }

}

@media (max-width: 600px) {
  #title-bar-header {
    font-size: 2.5em;
  }
  #title-bar--navLinks {
    font-size: 1em;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #navbar #menu-item {
    justify-content: center;
    margin: 0;
    padding-bottom: 6px;
    font-size: 0.8em;
  }

  #home-header {
    font-size: 1em;
  }

  #home-button {
    font-size: 10px;
  }

  #home-img {
    width: 100px;
  }

  #add-new-book-card {
    width: 220px!important;
  }

  #fun-fact-descriptions {
    font-size: 1.0em;
  }

}

@media (max-width: 450px) {
  #title-bar-header {
    font-size: 1.5em;
  }
  #title-bar--navLinks {
    font-size: .8em;
    margin: 0 5px;
  }
}

