#masterRoot {
  display: flex;
  flex-direction: column;
}

#mainRoot {
  display: flex;
  flex-direction: row;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: lightblue;
  margin: auto;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 75px;
  height: 100vh;
  margin: left;
  background-color: lightgreen;
}

.mainDiv {
  width: 100vw;
  background-color: lightgray;
}

.AllBooksDiv {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bookDiv {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.logDiv {
  width: 50vw;
  padding: 10px;
}

.logDiv h1 {
  text-align: center;
}
